<a href="https://colab.research.google.com/github/s-r-aman/machine_learning_playground/blob/master/fastdotai_dl/lesson4_collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from fastai.collab import *
from fastai.tabular import *

In [0]:
user, item, title = 'userId', 'movieId', 'title'

In [0]:
path = untar_data(URLs.ML_SAMPLE)

In [4]:
path

PosixPath('/root/.fastai/data/movie_lens_sample')

In [6]:
ratings = pd.read_csv(path/'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

In [0]:
data = CollabDataBunch.from_df(ratings, seed=42)

In [0]:
y_range = [0, 5.5]

In [0]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [10]:
learn.fit_one_cycle(3, 5e-3)

In [23]:
!wget http://files.grouplens.org/datasets/movielens/ml-100k.zip

--2019-03-14 18:29:18--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.34.235
Connecting to files.grouplens.org (files.grouplens.org)|128.101.34.235|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  26.2MB/s    in 0.2s

2019-03-14 18:29:18 (26.2 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

In [0]:
# !ls -a ../root/.fastai/data/ml-100k
!mv ml-100k ../root/.fastai/data/ml-100k

In [0]:
!mv ml-100k.zip ../root/.fastai/data/ml-100k.zip

In [0]:
path = Config.data_path()/'ml-100k'

In [40]:
ratings=pd.read_csv(path/'u.data', delimiter='\t', header=None,
                    names=[user, item, 'rating', 'timestamp'])
ratings.head()

   userId  movieId  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [0]:
data = CollabDataBunch.from_df(ratings, seed=42)

In [0]:
y_range = [0,5.5]

In [0]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [44]:
learn.fit_one_cycle(3, 5e-3)